nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 4rem 1rem;
    height: 10vh;
}

nav h1 a {
    font-family: var(--sans);
    font-weight: bold;
}

nav h1 {
    font-size: 1.5rem;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
    font-family: var(--sans);
}

nav [class*="fa-"] {
    font-size: 150%;
    color: black;
}

nav [class*="fa-thin fa-magnifying-glass-dollar"] {
    font-size: 100%;
    color: black;
    padding-right: 0.5rem;
}

nav a {
    color: black;
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: rgb(255, 255, 255);
}

nav h1 [class*="fa-"]:hover {
    color: rgb(126, 126, 1);
}

nav a:focus{
    color: rgb(255, 255, 255);
}